<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>蓮德邪教-文章</title>

    <link rel="shortcut icon" href="/images/230401-3.jpg" type="image/jpg" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/lineicons.css" />
    <link rel="stylesheet" href="/css/ud-styles.css" />

    <script>
      const webUrl = "<%= webUrl %>";
      const apiUrl = "<%= apiUrl %>";
      const articeType = "<%= articeType %>";
      const articeNumber = "<%= articeNumber %>";
    </script>
  </head>
  <body>
    <header class="ud-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="<%= webUrl %>">
                <img src="/images/logo/title.jpg" style="width: 100px;" alt="Logo" />
              </a>
              <button class="navbar-toggler">
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
              </button>

              <div class="navbar-collapse">
                <ul id="nav" class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="<%= webUrl %>">首頁</a>
                  </li>
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="<%= webUrl %>">委託圖分享</a>
                  </li>
                  <li class="nav-item nav-item-has-children">
                    <a href="javascript:void(0)"> 主線序 </a>
                    <ul class="ud-submenu">
                      <li class="ud-submenu-item">
                        <span>暴雨的夜晚（上）</span>
                      </li>
                      <li class="ud-submenu-item">
                        <span>暴雨的夜晚（中）</span>
                      </li>
                      <li class="ud-submenu-item">
                        <span>暴雨的夜晚（下）</span>
                      </li>
                      <li class="ud-submenu-item">
                        <span>520情人節（上）</span>
                      </li>
                      <li class="ud-submenu-item">
                        <span>520情人節（下）</span>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item nav-item-has-children">
                    <a href="javascript:void(0)"> 主線番外 </a>
                    <ul class="ud-submenu">
                      <li class="ud-submenu-item">
                        <span>暴雨的夜晚（上）</span>
                      </li>
                      <li class="ud-submenu-item">
                        <span>暴雨的夜晚（中）</span>
                      </li>
                      <li class="ud-submenu-item">
                        <span>暴雨的夜晚（下）</span>
                      </li>
                      <li class="ud-submenu-item">
                        <span>520情人節（上）</span>
                      </li>
                      <li class="ud-submenu-item">
                        <span>520情人節（下）</span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner" style="padding-top: 60px">
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ud-blog-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div id="blogDetails" class="ud-blog-details-content"></div>
          </div>
          <!-- <div class="col-lg-4">
            <div class="ud-blog-sidebar">
              <div class="ud-articles-box">
                <h3 class="ud-articles-box-title">熱門文章</h3>
                <ul class="ud-articles-list">
                  <li>
                    <div class="ud-article-image">
                      <img
                        src="/images/blog/article-author-01.png"
                        alt="author"
                      />
                    </div>
                    <div class="ud-article-content">
                      <h5 class="ud-article-title">
                        <a href="javascript:void(0)">
                          The 8 best landing page builders, reviewed
                        </a>
                      </h5>
                      <p class="ud-article-author">Martin Fedous</p>
                    </div>
                  </li>
                  <li>
                    <div class="ud-article-image">
                      <img
                        src="/images/blog/article-author-02.png"
                        alt="author"
                      />
                    </div>
                    <div class="ud-article-content">
                      <h5 class="ud-article-title">
                        <a href="javascript:void(0)">
                          Create engaging online courses your student…
                        </a>
                      </h5>
                      <p class="ud-article-author">Glomiya Lucy</p>
                    </div>
                  </li>
                  <li>
                    <div class="ud-article-image">
                      <img
                        src="/images/blog/article-author-03.png"
                        alt="author"
                      />
                    </div>
                    <div class="ud-article-content">
                      <h5 class="ud-article-title">
                        <a href="javascript:void(0)">
                          The ultimate formula for launching online course
                        </a>
                      </h5>
                      <p class="ud-article-author">Andrio jeson</p>
                    </div>
                  </li>
                  <li>
                    <div class="ud-article-image">
                      <img
                        src="/images/blog/article-author-04.png"
                        alt="author"
                      />
                    </div>
                    <div class="ud-article-content">
                      <h5 class="ud-article-title">
                        <a href="javascript:void(0)">
                          50 Best web design tips & tricks that will help you
                        </a>
                      </h5>
                      <p class="ud-article-author">Samoyel Dayno</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    
    <a href="javascript:void(0)" class="back-to-top">
      <i class="lni lni-chevron-up"> </i>
    </a>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js-source/blog.js"></script>
    <script src="/js-source/common.js"></script>
  </body>
</html>
